@model Sensor

<div class="row margin-bottom-40">
    <div class="col-md-6 col-sm-6">
        <h1>Sensor: @Model.Name</h1>


        <table class="table">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Id)</strong></td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>