@model TemperatureStation.Web.Data.Measurement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoolingRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoolingRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FreezingPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FreezingPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalGravity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalGravity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalGravity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalGravity)
        </dd>
    </dl>
</div>
<div>
    <h4>Sensors</h4>
    <table>
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensorRole in Model.SensorRoles)
            {
                <tr>
                    <td>@sensorRole.Sensor.Name</td>
                    <td>@sensorRole.RoleName</td>
                </tr>
            }
        </tbody>
    </table>    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
